.die {
    color: black;
    background-image: url(http://www.quarter-sawnflooring.com/images/curly-Cherry.jpg);
    height: 50px;
    width: 50px;
    style: inline-block;
    margin: 10px;
    text-align: center;
    line-height: 50px;


}




   
    
    die.value = Math.floor((Math.random()*6)+1);
    //increase counter everytime you addDie
    counter++;
    //put the die on the page
    document.body.appendChild(die);
    die.innerHTML = die.value;